{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
<div class="content-wrapper">
    <h1>{{ step.title }}</h1>

    {% if step.description %}
        {{ step.description | striptags('<div>,<strong>,<del>,<em>,<a>') | raw }}
    {% endif %}
    <p>Sie haben {{ step.time }} Minuten Zeit die folgenden Aufgaben abzuschließen, die Zeit startet nach klick auf den Start Button.</p>

    <button data-controller="startbutton" data-action="startbutton#startTest">Start</button>

    <div hidden id="questions">
        {{ form_start(form) }}
        {% for question in step.questions %}
            <div>
                <h4>{{ question.title }}</h4>
                {% if question.description %}
                    {{ question.description | striptags('<div>,<strong>,<del>,<em>,<a>') | raw }}
                {% endif %}

                {% if question.imageName %}
                    <img src="/images/questions/{{ question.imageName }}" alt=""/>
                {% endif %}


                {{ form_widget( attribute(form, question.id) ) }}
            </div>
        {% endfor %}
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
